<div class="row mb-2">
  <div class="col-12">
    <h4 class="bg-light text-secondary border p-3 rounded">Users list</h4>
  </div>
</div>
<div class="row">
  <div class="col-3 mb-4" *ngFor="let user of users">
    <div class="card">
      <img src="https://www.pngkey.com/png/detail/138-1388270_transparent-user-png-icon.png" class="card-img-top border-bottom"
        alt="">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between mb-0">
          <span class="text-secondary">{{ user.name }}</span>
          <span class="bg-danger text-white badge">#{{ user.id }}</span>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="mailto:{{user.email}}">{{ user.email }}</a>
        </li>
        <li class="list-group-item">
          <a href="tel:{{user.phone}}">{{ user.phone }}</a>
        </li>
        <li class="list-group-item">
          <a href="https://{{user.website}}" target="_blank">{{ user.website }}</a>
        </li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

</div>
